extends layout
block content
  #banner.page-header 
    .row 
      .col-lg-6
        h1 
          | #{sayfabaslik.siteAd}
          small &nbsp; #{sayfabaslik.Slogan}
  .row
    each mekan in mekanlar  
      .row.list-group 
      .col-xs-12.col-sm-12 
        .col-xs-12.list-group-item
          h4 
            a(href='/mekan') #{mekan.ad} 
            small &nbsp;
            -for(var i=1;i<=mekan.puan;i++)
              span.glyphicon.glyphicon-star 
            -for(var i=mekan.puan;i<5;i++)
              span.glyphicon.glyphicon-star-empty

          span.badge.pull-right.badge-default #{mekan.mesafe}
          p.address #{mekan.adres} 
          p 
            each imkan in mekan.imkanlar 
              span.label.label-warning #{imkan} 
              | &nbsp;
            
  
  